* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
nav {
    height: auto;
    background: #6200EE;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-size-adjust: 2;
}

nav a {
    text-decoration: none; /* Remove bold text decoration */
    font-weight: bold; /* Set font weight to bold */
    color: #FFFFFF;
    padding: 0 1.5rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #B39DDB;
}

.logo {
    padding: 10px;
}

.logo img {
    max-height: 60px;
    max-width: 100%;
}

/* Homepage Content Styles */
.hero {
    background: linear-gradient(to bottom, #a5d7ff 0%, #ffffff 100%);
}

.hero-container {
    text-align: center; /* Center-align text for all content within the container */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: space-around; /* Distribute items evenly along the main axis */
}

.column-left {
    width: 100%; /* Ensures the column takes full width */
}

.column-left h1, .column-left p {
    margin: 0 auto; /* Centers title and paragraph */
    padding: 1rem; /* Adds some padding */
}

/* Image Section Styles */
.hero-section {
    flex: 1;
    text-align: center;
    margin: 0 10px; /* Add some space between sections */
}

.hero-image {
    max-width: 100%; /* Make sure images don't exceed container width */
    height: auto;
    margin-bottom: 10px; /* Add space between image and title/button */
}

.button {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2rem; /* Adjusted button padding */
    font-size: 1rem;
    text-decoration:solid;
    color: #ffffff;
    background-color: #6200EE; /* Primary color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}

@media screen and (max-width: 768px) {
    .hero-image {
        max-width: 100%; /* Full width on smaller screens */
        margin-top: 20px; /* Adds space between stacked images */
    }
}