.slider-container {
    /* Positioning and sizing */
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px; /* Padding for buttons */
}

.slider {
    /* Flexbox layout for slides */
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    /* Slide styling */
    flex: 0 0 auto;
    width: calc(100% - 40px); /* Adjusted width to accommodate padding */
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.slide h2 {
    /* Center-align slide headings */
    text-align: center;
}

.slide ul,
p {
    /* Left-align text in slides */
    text-align: left;
}

.button-container {
    /* Button container positioning */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    /* Button styling */
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #6200EE; /* Primary color */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
    margin: 0 10px;
}

.prev:hover,
.next:hover {
    /* Button hover effect */
    background-color: #B39DDB; /* Lighter color on hover */
}
